<div class="box-body">
  <div class="type-box2">
    <div class="type-config2">
      <h5 align="center" >New Post</h5>

      <div class="avatar-config2">
      <%= form_for @post, html: { multipart: true } do |form| %>
      <%= form.label :img %> | <%= form.file_field :img %>
      </div>

      <div class="text-config2">
        <div class="text-center">
          <h5><%= form.label :post_text %></h5>
          <%= form.text_area :post_text, size: "80x10" %>
          <div class="text-center">
            <button type="submit" class="btn-color-config btn btn-primary" name="commit"    value="save">Submit</button>
          </div>
          <% end %>
        </div>
      </div>



        <div class="text-center">
          <%= link_to "Back", "/home"%>
        </div>



    </div>

  </div>
